:root {
    font-size: 62.5%;
    scroll-behavior: smooth;

    /*
    * Colors
    */
    --c-black: #000;
    --c-white: #fff;
    --c-text: #444;
    --c-theme: #6e98cc;

    --c-shadow: #323232;
    --c-shadow-rgb: 50, 50, 50;

    /**
    * Measurements
    */
    --m-padding: 2rem;
    --m-content-width: 120rem;

    /**
    * Font Family
    */
    --ff-sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic",
        YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;

    /**
    * Font Weight
    */
    --fw-regular: 400;

    /**
    * Font Size
    */
    --fs-body: 1.6rem;
}

body {
    position: relative;

    font-family: var(--ff-sans);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);

    line-height: 1.6;
    color: var(--c-text);
    background: var(--c-white);
    overflow-anchor: auto;
}

a,
a:hover,
a:focus,
a:active {
    transition: all 300ms ease;
    text-decoration: none;
    color: inherit;
}

::selection {
    color: var(--c-white);
    background: var(--c-theme);
}

button,
[type="button"],
[type="submit"] {
    cursor: pointer;
}

em {
    font-style: normal;
}

img,
svg,
iframe {
    display: block;
    max-width: 100%;
}

img,
svg {
    height: auto;
}

main {
    overflow: hidden;
}
